# Local Express backend (sem auth)
# VITE_API_BASE_URL=http://localhost:4000

# AWS API Gateway
VITE_API_BASE_URL=https://ti4jp4h8md.execute-api.ap-southeast-2.amazonaws.com

# Cognito — preencher após terraform apply
VITE_COGNITO_USER_POOL_ID=ap-southeast-2_XXXXXXXXX
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_COGNITO_DOMAIN=aws-ai-ticket-assistant-dev.auth.ap-southeast-2.amazoncognito.com
VITE_APP_URL=https://d29817j4dymot2.cloudfront.net
